/* tags */
body{
  background-color: #1e2022;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #e6af2e;
}
h1{
  font-size: 9rem;
font-family: 'Monsieur La Doulaise', cursive;
font-weight: normal;
color: #f6c90e;
margin: 0;
}
h2{
  font-family: 'Merienda One', cursive;
  color: #c9d6df;
}
h3{
  font-family: 'Anton', sans-serif;
}
a{
  font-family: 'Merienda One', cursive;
  color: black;
  padding: 20px;
}
hr{
  border-style:none none dotted none;
  width: 10%;
  border-width: 1rem;
  color: #ececec;
}
/* class */
.top-bar{
  background-color: #f0f5f9;
  position: fixed;
  width: 100%;
  padding-bottom: 10px;
  top: 0;
  text-align: center;

}
.top-container{
  margin-top: 30px;
  background-color: #f0f5f9;
  text-align: center;
  position: relative;
  height: 20rem;
}
.main-img-r{
  width: 20%;
  filter: drop-shadow(2px 4px 6px black);
  position:absolute;
left: 150px;
top: 30px;
}
.main-img-l{
  width: 20%;
  filter: drop-shadow(2px 4px 6px black);
  position:absolute;
right: 150px;
top: 30px;
}
.about{
  width: 50%;
}
.services{
  width: 50%;
}
.brand-name{
  font-size: 9rem;
font-family: 'Monsieur La Doulaise', cursive;
font-weight: normal;
color: #f6c90e;
margin: 0;
position: absolute;
left: 370px;
top: 50px;
}
.bottom-container{
  height: 50px;
  background-color:#52616b;
  text-align: center;
}
