/* tags */
body{
  background-color: #F8F9FA;
  font-family: 'Montserrat', cursive;
}
h2 {
  font-family: 'Merienda One', cursive;
  font-weight: lighter;
  color: #c9d6df;
}

h3 {
  font-family: 'Anton', sans-serif;
}

a {
  font-family: 'Montserrat', cursive;

  color: black;

  text-decoration: none;
}


/* class */


.brand-name {
  font-size: 6.5rem;
  font-family: 'Monsieur La Doulaise', cursive;
  font-weight: normal;
  color: #f6c90e;
  margin-top: 50px;
}
.main-img-r {
  /* width: 40%; */
  filter: drop-shadow(2px 4px 6px black);
}
.container-fluid{
padding: 3% 0;
}
.btn-outline-light{
    font-family: 'Montserrat', cursive;

}
.navbar-brand{
    font-family: 'Monsieur La Doulaise', cursive;
}
.nav-item{
  padding: 0 18px;
}
 /* id */
 #main-section{
   background-color: #343A40;
   margin-top: 56px;
 }
 #wedding{
   font-weight:bolder;
   font-size: 3rem;
    color: white;
 }
